.content {
  box-shadow: var(--shadow);
}

.fadeUp {
  opacity: 0;
  animation: fadeUp 0.4s ease-out forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cardStatistic::before {
  position: absolute;
  content: "";
  top: -22px;
  right: -22px;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background: rgb(255, 255, 255, 0.1);
}

.cardStatistic::after {
  position: absolute;
  content: "";
  bottom: -32px;
  right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgb(255, 255, 255, 0.1);
}

.growUp {
  max-height: 0;
  animation: growUp 0.7s ease-in-out forwards;
}

@keyframes growUp {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
