@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@plugin '@tailwindcss/typography';

/*===== Global Styles =====*/
:root {
  --color-bg-light-primary-100: #ffffff;
  --color-bg-light-primary-200: #f6fbf8;
  --color-bg-light-primary-300: #e9f5ef;
  --color-bg-light-primary-400: #d4eee1;
  --color-bg-light-primary-500: #bfe6d3;
  --color-text-light-primary: #000000;
  --color-text-light-secondary: #555555;

  /* ===== Primary (Green) ===== */
  --color-primary: #19c953;
  --color-primary-900: #0f7a32;
  --color-primary-700: #14a444;
  --color-primary-500: #19c953;
  --color-primary-300: #7ee3a6;
  --color-primary-200: #b2eeca;
  --color-primary-100: #e6f9ee;
  --color-ln-primary: 135deg, rgb(34, 197, 94), rgb(21, 128, 61);

  /* ===== Secondary (Blue) ===== */
  --color-secondary: #1c74f8;
  --color-secondary-900: #0f3f8f;
  --color-secondary-700: #165ed1;
  --color-secondary-500: #1c74f8;
  --color-secondary-300: #8fb7fb;
  --color-secondary-200: #bcd4fd;
  --color-secondary-100: #e8f0ff;
  --color-ln-secondary: 135deg, #38bdf8, #0284c7;

  /* ===== Error (Red) ===== */
  --color-error: #ff4d4d;
  --color-error-900: #8f1f1f;
  --color-error-700: #cc3d3d;
  --color-error-500: #ff4d4d;
  --color-error-300: #ff9e9e;
  --color-error-100: #ffecec;
  --color-ln-error: 135deg, #f87171, #ef4444;

  /* ===== Unavailable (Gray) ===== */
  --color-unavailable: #c9c9c9;
  --color-unavailable-900: #5f5f5f;
  --color-unavailable-700: #8f8f8f;
  --color-unavailable-500: #c9c9c9;
  --color-unavailable-300: #e0e0e0;
  --color-unavailable-100: #f5f5f5;

  /* ===== Warning (Yellow) ===== */
  --color-warning: #ffcc00;
  --color-warning-900: #8f7200;
  --color-warning-700: #cc9f00;
  --color-warning-500: #ffcc00;
  --color-warning-300: #ffe680;
  --color-warning-100: #fff7cc;

  /* ===== Cyan ===== */
  --color-cyan: #00bcd4;
  --color-cyan-900: #005f6a;
  --color-cyan-700: #0097aa;
  --color-cyan-500: #00bcd4;
  --color-cyan-300: #80deea;
  --color-cyan-100: #e0f7fa;

  /* ===== Purple ===== */
  --color-purple: #8100f2;
  --color-purple-900: #43007d;
  --color-purple-700: #6500c0;
  --color-purple-500: #8100f2;
  --color-purple-300: #c080ff;
  --color-purple-100: #f2e6ff;
  --color-ln-purple: 135deg, #a78bfa, #7c3aed;

  --color-grd-primary: linear-gradient(135deg, rgb(34, 197, 94), rgb(21, 128, 61));
  --color-grd-secondary: linear-gradient(135deg, #38bdf8, #0284c7);
  --color-grd-error: linear-gradient(135deg, #f87171, #ef4444);
  --color-grd-purple: linear-gradient(135deg, #a78bfa, #7c3aed);
  --color-grd-unavailable: linear-gradient(90deg, #f0f0f0 0%, #c9c9c9 100%);

  --shadow: 0 1px 8px rgba(0, 0, 0, 0.04);
  --shadow-focus: 0 0 0 3px rgba(134, 239, 172, 0.2);
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--color-bg-light-primary-200);
  color: var(--color-text-light-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Shared Styles =====*/
.hidden-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.recharts-wrapper:focus,
.recharts-wrapper:focus-visible {
  outline: none;
}

.radio-indicator {
  --size: 16px;
  --border-color: #cbd5e1;
  --checked-color: var(--color-primary);

  width: var(--size);
  height: var(--size);
  border-radius: 999px;
  border: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

input:checked + .radio-indicator {
  border-color: var(--checked-color);
}

input:checked + .radio-indicator::after {
  content: "";
  width: calc(var(--size) * 0.5);
  height: calc(var(--size) * 0.5);
  background: var(--checked-color);
  border-radius: 999px;
}

.checkbox-indicator {
  --size: 16px;
  --border-color: #cbd5e1;
  --checked-color: var(--color-primary);

  width: var(--size);
  height: var(--size);
  border-radius: 4px;
  border: 2px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

input:checked + .checkbox-indicator {
  background-color: var(--checked-color);
  border-color: var(--checked-color);
}

input:checked + .checkbox-indicator::after {
  content: "";
  width: calc(var(--size) * 0.45);
  height: calc(var(--size) * 0.25);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  margin-top: -2px;
}
