/* ===== Animation ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.97);
  }
}

.animate-fadeOut {
  animation: fadeOut 0.18s ease-in forwards;
}

@keyframes backdropIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backdrop-fadeIn {
  animation: backdropIn 0.25s ease-out forwards;
}

@keyframes backdropOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.backdrop-fadeOut {
  animation: backdropOut 0.18s ease-in forwards;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: #999;
  pointer-events: none;
}

/* ===== Toast ===== */
.toast {
  position: fixed;
  width: 370px;
  z-index: 100;
  padding: 12px 16px;
  border-radius: 8px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
  font-size: 16px;
  background-color: var(--color-bg-light-primary-100);
}

.toast .icon {
  font-size: 18px;
}

/* Corners */
.toastTopRight {
  top: 16px;
  right: 16px;
}

.toastTopLeft {
  top: 16px;
  left: 16px;
}

.toastBottomRight {
  bottom: 16px;
  right: 16px;
}

.toastBottomLeft {
  bottom: 16px;
  left: 16px;
}

/* Center */
.toastTopCenter {
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.toastBottomCenter {
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.toast.ERROR {
  border: 1.5px solid var(--color-error-700);
  color: var(--color-error-700);
}

.toast.WARNING {
  border: 1.5px solid var(--color-warning-700);
  color: var(--color-warning-700);
}

.toast.INFO {
  border: 1.5px solid var(--color-secondary-700);
  color: var(--color-secondary-700);
}

.toast.SUCCESS {
  border: 1.5px solid var(--color-primary-700);
  color: var(--color-primary-700);
}
